/** * Homework biography * **/


/** * HEADER * **/

header {
    width: 100%;
    background: #ffffff;
}

.divNameHeader {
    float:left;
    text-align: center;
    padding: 10px;
    width: 30%;
    margin-left: 6%;
    margin-bottom: 20px;
        }

.divHyperlinks {
    float:right;
    align-content: center;
    margin-top: 20px;
    padding: 30px;
    color: #777777;
    width: 30%;
      }

.divHeaderUnderline {
    border-width: 1px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 50px;
}      

/** * HEADER NAVIGATION * **/

nav {
    margin: 10px;
}

nav ul {
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
    width: 100%
}

nav li {
    display: inline-block;
    margin-left: 10px;
}

a { text-decoration: none;
    padding: 5px;
    color: #777777
    }

/** * FOOTER * **/
            
footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        font-size: 16px;
        color: #eee;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background-color: #666666;
        border-top: solid;
        border-color: #4aaaa5;
        border-width: 10px;
    }

/** * HEADING 1 - GREEN BOX - KAMY LEERET * **/

h1 {
    padding: 30px ;
    margin-left: 10%;
    margin-bottom: 10px;
    font-size: 28px;
    color: #eee;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
      }

/** * HEADING 2 - ABOUT ME, PORTFOLIO, CONTACTS * **/

h2 {
    color: #4aaaa5;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
 
/** * HEADING 3 - PICTURE HEADINGS * **/

h3 {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    text-align: center;
          }

.centered {
    position: relative;
    bottom: 80px;
    width: 100%;
          }
       

/** * BODY * **/    

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height:200%;
    color: #777777;
    background: #efeee7;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    object-position: center;
  }  

/** * CONTAINER BIO ABOUT ME, PORTFOLIO, CONTACT * **/

.containerBio {
    margin-top: 30px;
    float: left;
    margin-left: 10%;
    border-style: solid;
    border-width: 2px;
    border-color:lightgray ;
    padding: 30px;
    width: 960px;
        }

.bio-image {
    width: 200px;
    height: 200px;
    float:left;
    margin-right: 20px;
          }

/** * PORTFOLIO CONTAINERS * **/   

.portfolioContainer {
    margin-top: 30px;
    float: left;
    margin-left: 10%;
    border-style: solid;
    border-width: 2px;
    border-color:lightgray ;
    padding: 30px;
    width: 960px;
            }
       

/** * CONTAINER IMAGES, AND TEXT BANNER * **/
        
.boxPicturesContainer {  
    width: 200px;
    height: 200px;
    margin: 0 auto 0 70px;
    text-align: center;
    padding: 5px;
    display: grid;
            }
                  
.portfolioImages {
    width: 200px;
    height: 200px;
  }



  .column { 
    float: left;
    width: 50%;
    padding: 10px;
    column-count: 2;
        }   
        
.row:after {
    content: "";
    display: table;
    clear: both;
        }
        
/* clear floats after the columns*/
        
.row { 
    display: flex;
        }


/** * CONTACT * **/    

/** * CONTACT FORM * **/   

form {width: 80%;}

input:focus, 
textarea:focus { 
       width: 100%; font-size: 16px;}

button { 
    width: 100px; 
    background-color: teal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

button:hover { background-color: darkgrey;}
